.rocketImg {
  width: 18rem;
  margin-bottom: 1rem;
}

.rocketImg > img {
  width: 100%;
}

.rocketC {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.reserveBtns {
  margin-top: 1rem;
}

.Cancel-Reservation, .Reservation {
  border-radius: 5%;
  padding: 0.5rem;
}

.Cancel-Reservation {
  background-color: rgb(255, 255, 255);
  color: rgb(119, 119, 119);
  border: solid gray 2px;
}

.Reservation {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
}

.reserved {
  background-color: #18a2b8;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5%;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .rocketImg {
    width: 30%;
    margin: 0 1rem;
  }

  .contentC {
    width: 70%;
  }

  .rocketC {
    flex-direction: row;
  }
}
